html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


body{
    height: 100vh;
    width: 100%;
    background-image: url(bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%) ;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    color: #ffff;
    display: grid;
    grid-template-rows: 35px 125px 3fr 150px 10px;
    grid-template-columns: 35px 2fr 2fr 10px ;
    gap: 20px;
}
.top {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.middle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.about-content {
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 3;
    grid-row-end: 4;
}
.social-media {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

img#logo {
    height: 100px;
    width: 200px;
    
}


img#illustration {
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

h2.about-content{
    font-weight:600;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    padding: 15px 5px 15px 8px;
    

}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 15px;
    text-align:left;
    line-height: 1.6; 
}


button#register {
    font-size:27px ;
    background-color: whitesmoke;
    padding: .75em 2em;
    border-radius: 30px;
    color: hsl(257,40%,49%) ;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 8px;
    top: 15px;
    }
 a{
     text-decoration: none;
     color:inherit;
 }


 .social-media > img {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    color: white;
    margin: 10px;
    padding: 6px;
    border: 2px solid white;
    position: relative;
    left:55%;
    top: 45%;

@media (min-width:1440px) {
    body{
        height: 100vh;
        width: 100%;
        
        background-color:  hsl(257, 40%, 49%) ;
        font-family: 'Open Sans' sans-serif;
        font-weight: 400;
        color: #ffff;
        display: grid;
        grid-template-rows: 35px 125px 3fr 150px 10px;
        grid-template-columns: 35px 2fr 2fr 10px ;
        gap: 20px;
    }
    .top {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .middle {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .about-content {
        grid-column-start:3 ;
        grid-column-end:4 ;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .social-media {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    img#logo {
        height: 100px;
        width: 200px;
        
    }


    img#illustration {
        height: 450px;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    h2.about-content{
        font-weight:600;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        padding: 15px 5px 15px 8px;
        

    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin: 10px 15px;
        text-align:left;
        line-height: 1.6; 
    }


    button#register {
        font-size:22px ;
        background-color: whitesmoke;
        padding: .75em 2em;
        border-radius: 30px;
        color: hsl(257,40%,49%) ;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        position: relative;
        left: 8px;
        top: 15px;
        }
     a{
         text-decoration: none;
         color:inherit;
     }


     .social-media > img {
        height: 45px;
        width: 45px;
        border-radius: 50px;
        color: white;
        margin: 10px;
        padding: 6px;
        border: 2px solid white;
        position: relative;
        left:55%;
        top: 45%;
    }
}






@media ( max-width:375px) {

    body{
        height: 100vh;
        width: 100%;
        background: url(images\bg-mobile.svg);
        background-color: hsl(257, 40%, 49%) ;
        font-family: 'Open Sans' sans-serif;
        font-weight: 400;
        color: #ffff;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        
        
    }
    .top {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-self: flex-start;
      justify-content: space-around;
      padding: 15px 35px;
    }


    .middle {
       /* padding: 15px 20px; */
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        padding-bottom: 10px;
    }

    .about-content {
       display: flex;
       flex-direction: column; 
       align-content: space-around;
       align-items: center;
       font-family: 'Open Sans', sans-serif;
       font-weight: 400;
       font-size: 15px;
    }

    .social-media {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        
    }

    img#logo {
        height: 80px;
        width: 140px;
        position: relative;
        left: 5px;
    }


    img#illustration {
        height: 200px;
        width: 300px;
    }

    h2.about-content{
        font-weight:600;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        padding: 15px 5px 15px 8px;
        

    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        margin: 10px 15px;
        text-align:center;
        line-height: 1.6; 
    }

    button#register {
        font-size:16px ;
        background-color: whitesmoke;
        padding: .5em 3.5em;
        margin: 10px ;
        border-radius: 20px;
        color: hsl(257,40%,49%) ;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 30px;
        cursor: pointer;
        }
     a{
         text-decoration: none;
         color:inherit;
     }

    .social-media > img {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        color: white;
        margin: 10px;
        padding: 6px;
        border: 1px solid white;
        
        
    }
    
    
}